{% extends "base.html" %}
{% block title %}UHRFid Logs{% endblock %}
{% block content %}

{% block jshead %}{% endblock %}

<script src="../static/js/groups.js"></script>


<style>
    .bs-example {
        font-family: sans-serif;
        position: relative;
        margin: 100px;
    }

    .typeahead,
    .tt-query,
    .tt-hint {
        border: 1px solid #CCCCCC;
        border-radius: 3px;
        font-size: 18px;
        /* Set input font size */
        height: 30px;
        line-height: 30px;
        outline: medium none;
        padding: 8px 12px;
        width: 396px;
    }

    .typeahead {
        background-color: #FFFFFF;
    }

    .typeahead:focus {
        border: 2px solid #0097CF;
    }

    .tt-query {
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    }

    .tt-hint {
        color: #999999;
    }

    .modal-body {
        overflow-y: inherit;
    }

    .tt-menu {
        background-color: #FFFFFF;
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        margin-top: 12px;
        padding: 8px 0;
        width: 422px;
    }

    .tt-suggestion {
        font-size: 18px;
        /* Set suggestion dropdown font size */
        padding: 3px 20px;
    }

    .tt-suggestion:hover {
        cursor: pointer;
        background-color: #0097CF;
        color: #FFFFFF;
    }

    .tt-suggestion p {
        margin: 0;
    }
</style>

<div class="jumbotron" style='margin-top: 10px;'>

    <div class='container' style='margin-top: 10px;'>
        <div style="margin-top:5px;">
            <span style='width:200px;float:left;margin-top:5px;'>Groups</span>
            <select class="form-select" id="groupsList" multiple aria-label="Groups"
                style="height: 120px;width: 320px;">
            </select>
        </div>
        <div style="margin-top:5px;margin-bottom: 25px;">
            <span style='width:200px;float:left;margin-top:5px;'>Include public groups</span>
            <input type="checkbox" id="Include_public" name="publicly_visible" style="margin-top: 11px;" unchecked />
        </div>
        <div style="margin-top:15px;">
            <span style='width:200px;float:left;margin-top:5px;'>Group name</span>
            <div id="remote">
                <input type='text' class="typeahead tt-query" id='group_name' style='width: 200px;'>
            </div>
        </div>
        <div style="margin-top:5px;margin-bottom: 15px;">
            <span style='width:200px;float:left;margin-top:5px;'>Is publicly visible</span>
            <input type="checkbox" id="publicly_visible" name="publicly_visible" style="margin-top: 11px;" unchecked />
        </div>
        <div style="margin-top:5px;margin-bottom: 15px;">
            <span style='width:200px;float:left;margin-top:5px;'>Is publicly editable</span>
            <input type="checkbox" id="publicly_editable" name="publicly_editable" style="margin-top: 11px;"
                unchecked />
        </div>
    </div>
    <div class='container' style='margin-top: 20px;'>
        <a class="btn btn-primary btn-sm" href="#" role="button" id="saveGroup" onclick="saveGroup()">Save</a>
        <a class="btn btn-primary btn-sm" href="#" role="button" id="newGroup" data-toggle="modal" onclick="addGroup()">Add</a>
        <a class="btn btn-primary btn-sm" href="#" role="button" id="removeGroup" onclick="removeGroup()">Remove</a>
    </div>
</div>

<div class="jumbotron" style='margin-top: 10px;'>

    <div style="margin-top:5px;">
        <span style='width:200px;float:left;margin-top:5px;'>Group members</span>
        <select class="form-select" id="groupsMembers" multiple aria-label="Group members"
            style="height: 120px;width: 320px;">
        </select>
        <a class="btn btn-primary btn-sm" href="#" role="button" id="removeMember" style="margin-bottom:20px;width: 70px;"
            onclick="removeMember()">Remove</a>
    </div>

    <div style="margin-top:5px;display:flex;" >
        <span style='width:200px;float:left;margin-top:5px;'>Last name</span>
        <div id="remote">
            <input type='text' class="typeahead tt-query" id='last_name' style='width: 250;'>
        </div>
        <div>
            <a class="btn btn-primary btn-sm" href="#" role="button" id="addMember" style="margin-bottom: 10px;margin-left: 4px;width: 70px;"
                onclick="addMember()">Add</a>
        </div>
    </div>

</div>


<div aria-live="polite" aria-atomic="true" style="position: relative; min-height: 200px;">
    <!-- Position it -->
    <div style="position: absolute; top: 0; right: 0;">
        <!-- Toast -->
        <div class="toast" id="myToast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="3000">
            <div class="toast-header">
                <strong class="mr-auto">Report</strong>
                <small class="text-muted">Style 1</small>
                <button type="button" class="ml-2 mb-1 close"  data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                Excel generated...
            </div>
        </div>
    </div>
</div>


<div class="modal" tabindex="-1" role="dialog" id="NewGroup">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Select user</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <span style='width:80px;float:left;margin-top:5px;'>Last name</span>
                <div id="remote">


                    <input type='text' class="typeahead tt-query" id='last_name' style='width: 200px;'>

                </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="doSelectAdmin();">Select</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    $('#start_date').datepicker({
        format: 'dd/mm/yyyy'
    });
    $('#end_date').datepicker({
        format: 'dd/mm/yyyy'
    });



</script>
{% endblock %}