<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UHTagTools - QRGen</title>

  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

  <script>
    const tag_id = {{ tag_id }};
  </script>

  <script src="../static/js/insertUser.js"></script>

</head>

<body>

  <div class="container mt-3" id="container">

      <div class="mt-4 p-5 bg-primary text-white rounded">
      <div class="row">
        <div class="col-4">Name</div>
        <div class="col-8"><input type='text' class="form-control" id='user_name' style='width: 180px;'></div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-4">Last name</div>
        <div class="col-8"><input type='text' class="form-control" id='user_surname' style='width: 180px;'></div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-4">Email</div>
        <div class="col-8"><input type='text' class="form-control" id='user_email' style='width: 180px;'></div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-4">Student or personnel ID</div>
        <div class="col-8"><input type='text' class="form-control" id='user_id' style='width: 180px;'></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" onclick="saveUser();">Save changes</button>
    </div>
  </div>



  <!-- Latest compiled and minified JavaScript -->
  <script src="../static/js/bootstrap.bundle.min.js"></script>


</body>

</html>