<!DOCTYPE html>
<html lang="en">
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>{% block title %}{% endblock %}
    </title>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"
        integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href = "../static/css/bootstrap-datepicker.min.css">


</head>
<body>
    <div class="container px4" style="border-style:solid;border-width: 1px;border-color: rgb(112, 112, 112);margin-top: 20px;padding:20px;">


        <img src="/static/images/uhasselt-wide.png" style="display: block;margin-left: auto;margin-right: auto;width: 40%;">
    
        <br>
        <h2 style="text-align: center;">Attendence registration system</h2>
        <br>
        <br>
        <br>
        
        <a class="button" href="/login"><img src="/static/images/google_sign_in.png" style="display: block;margin-left: auto;margin-right: auto;width: 40%;"></a>
    
    
    
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="../static/js/bootstrap-datepicker.min.js"></script>
</body>
</html>