{% extends "base.html" %}
{% block title %}UHRFid Logs{% endblock %}
{% block content %}

{% block jshead %}
<script src="../static/js/logs.js"></script>
{% endblock %}

<div class="jumbotron" style='margin-top: 10px;'>

  <p class="lead">Select start date and end date</p>
  <hr class="my-4">

  <div class='container' style='margin-top: 10px;'>

    <div style="margin-top:5px;">
      <span style='width:80px;float:left;margin-top:5px;'>Start date</span>
      <input type='text' class="form-control" id='start_date' style='width: 200px;'>
    </div>

    <div style="margin-top:5px;">
      <span style='width:80px;float:left;margin-top:5px;'>End date</span>
      <input type='text' class="form-control" id='end_date' style='width: 200px;'>
    </div>

    <div style="margin-top:5px;">
      <span style='width:80px;float:left;margin-top:5px;'>Device</span>
      <select name="devices" id="devices" style="width:200px;"></select>
    </div>
    <br>
    <a class="btn btn-primary btn-lg" href="#" role="button" onclick="doSearch()">Search</a>
  </div>
</div>

<div class="jumbotron" id='loglist' style='margin-top: 10px;'></div>


<div class="modal" id="userModal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">Name</div>
          <div class="col-8"><input type='text' class="form-control" id='user_name' style='width: 180px;'></div>
        </div>
        <div class="row" style="margin-top: 5px;">
          <div class="col-4">Surname</div>
          <div class="col-8"><input type='text' class="form-control" id='user_surname' style='width: 180px;'></div>
        </div>
        <div class="row" style="margin-top: 5px;">
          <div class="col-4">ID</div>
          <div class="col-8"><input type='text' class="form-control" id='user_id' style='width: 180px;'></div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" onclick="saveUser();">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $('#start_date').datepicker({
    format: 'dd/mm/yyyy'
  });
  $('#end_date').datepicker({
    format: 'dd/mm/yyyy'
  });

</script>
{% endblock %}