<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>UHTagTools - QRGen</title>


  <link rel="stylesheet" href="../static/css/bootstrap.min.css">

  <link rel="icon" href="./favicon.ico" type="image/x-icon">
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <script src="../static/js/qrcode.js"></script>
  <script src="../static/js/QRDevice.js"></script>
  <script>
    const device_id = {{ device_id }};
  </script>
</head>

<body onload="initializeTimers();">

  <div class="container mt-3">
    <div ID="qrContent">
      <h2>Scan this code:</h2>
      <div id="qrcode" style="margin:auto;width:500px;height:500px;"></div>
      <h2>Or enter user info using this form:</h2>
      <button type="button" class="btn btn-primary" onclick="openInsertUserForm();">User info</button>
    </div>

    <div id="user_info">
      <div class="mt-4 p-5 bg-primary text-white rounded">
        <h1 id="name" style="margin:auto;">John Doe</h1>
        <h2 id="email" style="margin:auto;">john.doe@uhasselt.be</h2>
        <h2 id="timelogged" style="margin:auto;">Logged on 99-99-9999 at 99:99:99 - tagID: 9999</h2>
      </div>
    </div>
  </div>
  </div>

  <!-- Latest compiled and minified JavaScript -->
  <script src="../static/js/bootstrap.bundle.min.js"></script>


</body>

</html>