<!DOCTYPE html>
<html lang="en">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>{% block title %}{% endblock %}
</title>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/css/bootstrap-datepicker.min.css">


<script src="../static/js/recentLogs.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Recent logs over all devices</title>
</head>

<body>
    <div class="container">
        <h2>Recent logs (<120s)</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>TagID</th>
                            <th>DateTime</th>
                            <th>UserID</th>
                            <th>User_nr</th>
                            <th>TagLogID</th>
                            <th>DeviceID</th>
                            <th>Disconnect</th>
                        </tr>
                    </thead>
                    <tbody id="table-body">
                    </tbody>
                </table>
    </div>

</body>

</html>