<!DOCTYPE html>
<html lang="en">
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>{% block title %}{% endblock %}
  </title>

  <script src="https://code.jquery.com/jquery-3.6.4.min.js"
    integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/bootstrap-datepicker.min.css">
  <script src="../static/js/user.js"></script>


</head>

<body onload="loadUser();">
  <div class="container mt-3" id="container">

    <div class="mt-4 p-5 bg-primary text-white rounded">
      <div class="row">
        <div class="col-4">Name</div>
        <div id='user_name' class="col-8"></div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-4">Surname</div>
        <div id='user_surname' class="col-8"></div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-4">Email</div>
        <div id='user_email' class="col-8"></div>
      </div>
      <div class="row" style="margin-top: 5px;">
        <div class="col-4">Student or personnel ID</div>
        <div class="col-8"><input type='text' class="form-control" id='user_id' style='width: 180px;'></div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" onclick="saveUser();">Save changes</button>
    </div>


    <div class="card" style="width: 320px;">
      <img id="profile_picture" class="card-img-top" src="..." alt="Card image cap" width="250px" height="250px">
      <div class="card-body">
        <h5 id = "card_title" class="card-title">Card title</h5>
        <p id="card_text" class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="https://myaccount.google.com/" class="btn btn-primary">Edit your Google account</a>
      </div>
    </div>


  </div>
  <!-- Latest compiled and minified JavaScript -->
  <script src="../static/js/bootstrap.bundle.min.js"></script>
</body>

</html>